
.panel-heading {
  background-image: url("img/tie_close.jpg");
  background-color: transparent;
  }

body{
  background-image: radial-gradient(white, rgba(169,234,253,.1),rgba(169,234,253,.7));
  padding-bottom: 70px;
  padding-top: 20px;
}


span {
  color: rgba(169,234,253,1);
}



#featured .panel-heading {
  text-align: center;
}

#about img {
  float: right;
  width: 20%;
  border: 1px solid gray;
  padding: 2px;
  margin: 10px;
}
