/*try fixed positon for head and navbar*/
/*other elements in a container that scrolls below*/

.panel-heading {
  background-image: url("img/tie_close.jpg");
  background-color: none
  }
#home {
  margin-top: 100px;
}
body{
  background-image: radial-gradient(white, rgba(169,234,253,.2),rgba(169,234,253,.7));
}

#about img {
  float: right;
  width: 20%;
  border: 1px solid gray;
  padding: 2px;
  margin: 10px;
}
